<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>가치팜</title>
  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js">
  </script>
  <script>
  var fileArr;
  var fileInfoArr=[];

  //썸네일 클릭시 삭제.
  function fileRemove(index) {
      console.log("index: "+index);
      fileInfoArr.splice(index,1);
   
      var imgId="#img_id_"+index;
      $(imgId).remove();
      console.log(fileInfoArr);
  }

  //썸네일 미리보기.
  function previewImage(targetObj, View_area) {
      var files=targetObj.files;
      fileArr=Array.prototype.slice.call(files);
      
      var preview = document.getElementById(View_area); //div id
      var ua = window.navigator.userAgent;
   
      //ie일때(IE8 이하에서만 작동)
      if (ua.indexOf("MSIE") > -1) {
          targetObj.select();
          try {
              var src = document.selection.createRange().text; // get file full path(IE9, IE10에서 사용 불가)
              var ie_preview_error = document.getElementById("ie_preview_error_" + View_area);
   
   
              if (ie_preview_error) {
                  preview.removeChild(ie_preview_error); //error가 있으면 delete
              }
   
              var img = document.getElementById(View_area); //이미지가 뿌려질 곳
   
              //이미지 로딩, sizingMethod는 div에 맞춰서 사이즈를 자동조절 하는 역할
              img.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+src+"', sizingMethod='scale')";
          } catch (e) {
              if (!document.getElementById("ie_preview_error_" + View_area)) {
                  var info = document.createElement("<p>");
                  info.id = "ie_preview_error_" + View_area;
                  info.innerHTML = e.name;
                  preview.insertBefore(info, null);
              }
          }
          //ie가 아닐때(크롬, 사파리, FF)
      } else {
          var files = targetObj.files;
          for ( var i = 0; i < files.length; i++) {
              var file = files[i];
              fileInfoArr.push(file);
   
              var imageType = /image.*/; //이미지 파일일경우만.. 뿌려준다.
              if (!file.type.match(imageType))
                  continue;
              // var prevImg = document.getElementById("prev_" + View_area); //이전에 미리보기가 있다면 삭제
              // if (prevImg) {
              //     preview.removeChild(prevImg);
              // }
   
              var span=document.createElement('span');
              span.id="img_id_" +i;
              span.style.width = '100px';
              span.style.height = '100px';
              preview.appendChild(span);
   
              var img = document.createElement("img");
              img.className="addImg";
              img.classList.add("obj");
              img.file = file;
              img.style.width='inherit';
              img.style.height='inherit';
              img.style.cursor='pointer';
              const idx=i;
              img.onclick=()=>fileRemove(idx);   //이미지를 클릭했을 때.
              span.appendChild(img);
   
              if (window.FileReader) { // FireFox, Chrome, Opera 확인.
                  var reader = new FileReader();
                  reader.onloadend = (function(aImg) {
                      return function(e) {
                          aImg.src = e.target.result;
                      };
                  })(img);
                  reader.readAsDataURL(file);
              } else { // safari is not supported FileReader
                  //alert('not supported FileReader');
                  if (!document.getElementById("sfr_preview_error_"
                      + View_area)) {
                      var info = document.createElement("p");
                      info.id = "sfr_preview_error_" + View_area;
                      info.innerHTML = "not supported FileReader";
                      preview.insertBefore(info, null);
                  }
              }
          }
      }
  }
//form데이터 전송
  function dataSubmit() {
      var token = $("meta[name='_csrf']").attr("content");
      var header = $("meta[name='_csrf_header']").attr("content");
   
      var data=new FormData($("#storeAddForm")[0]);
   
      $.ajax({
          beforeSend: function(xhr){
              xhr.setRequestHeader(header,token);
          },
          url: "url",
          data: data,
          processData:false,
          contentType:false,
          enctype:'multipart/form-data',
          type:"POST",
      }).done(function (fragment) {
          $("#resultDiv").replaceWith(fragment);
      });
  }
  </script>
  <script type="text/javascript">
	function fileUpload(){
		var fileInput = document.getElementById("image_upload");

		alert(fileInput.files[0].name);
	}
</script>
<script>
	function setThumbnail(event) {
		var reader = new FileReader(); 
		reader.onload = function(event) { 
			var img = document.getElementById("image-upload");
			img.setAttribute("src", event.target.result);
			document.querySelector("div#image_container").appendChild(img);
			};
		reader.readAsDataURL(event.target.files[0]); 
	}
</script>
  <style>
    @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

    .nanumsquare {
        font-family: 'NanumSquare', sans-serif !important;
    }
    .nanumgothic * {
     font-family: 'Nanum Gothic', sans-serif;
    }
    body {
      font-family: 'Nanum Gothic', sans-serif;
      /* 폰트관련 주석! */
      font-family: 'NanumSquare', sans-serif !important;
    }
    .btn-primary {
      /* 폰트관련 주석! */
      font-family: 'NanumSquare', sans-serif !important;

      color: #fff;
      background-color: #0AC175;
      border-color: #0AC175;
    }
    label{
      color: #707070;
    }
    th{
      font-size:16px;
      padding-right:10px;
    }
    .form-control {
      color: #DDDDDD;
    }
    small {
    	color:red;
    }
    h3 {
    	 font-family: 'NanumSquare', sans-serif !important;
    }
  </style>
  <script>
	  function fnChkByte(obj, maxByte, id){
		  var str = obj.value;
		  var str_len = str.length;
		  var rbyte = 0;
		  var rlen = 0;
		  var one_char = "";
		  var str2 = "";
		  for(var i=0; i<str_len; i++){
		  one_char = str.charAt(i);
		  if(escape(one_char).length > 4){
		      rbyte += 2;
		  }else{
		      rbyte++;
		  }
		  if(rbyte <= maxByte){
		      rlen = i+1;
		  }
			document.getElementById(id).innerText = rbyte;
		  }
		 }
  </script>
</head>
<body>
	<th:block th:insert="fragment/Top :: headFragment"></th:block> 
	<div align="center" style="margin-top: 100px;">
      <h3><b> 상품등록</b> </h3>
      <hr style="height:1px; background-color:#707070;">

      <form th:unless="${isUpdate}" enctype="multipart/form-data" th:action="@{/product/regist}"  th:object="${productCommand}" method="post">
        <table align="center">
          <tr><!--https://dummyimage.com/500x500/ffffff/000000.png&text=preview+image  -->
            <td rowspan="7" style="padding-right:20px;"> <!-- onchange="prviewImage(this, 'View_area')" th:field="*{productImg}" style="display:none; cursor:pointer;"-->
              <!-- <label for="image_upload" th:text="#{image}" class="forForm">image</label> onchange="fileUpload()" -->
    		  <span id='View_area' style="position:relative; color:black; border:0px solid black;"></span>
    		  <div id="image_container"></div>
    		  <img class="image-upload"style="width:300px; height:300px;" id="image-upload" src="/images/fileUploadImg.png"><br>
    		  <input type ="file" id="image_upload" name="img_upload" onchange="setThumbnail(event);">
    		  <!-- <span th:if="${#fields.hasErrors('imgPath')}" th:errors="imgPath"></span>
               --><!-- <i class="far fa-pencil-ruler"></i> -->
            </td>
            <th><label class="forForm" for="prdtName" th:text="#{prdtName}">상품명</label></th>
            <td><input type="text" id="prdtName" th:field="*{prdtName}" class="form-control" style="width:320px;"aria-describedby="emailHelp" placeholder="상품명을 입력하세요.">
            	<small th:if="${#fields.hasErrors('prdtName')}" th:errors="*{prdtName}"></small>
            </td>
          	
          </tr>
          <tr>
            <th><label class="forForm" for="price" th:text="#{price}">가격</label></th>
            <td><input type="text" id="price" th:field="*{price}" class="form-control" aria-describedby="emailHelp" placeholder="숫자만 입력">
            	<small th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></small>
            </td>
          </tr>
          <tr>
            <th><label class="forForm" for="origin" th:text="#{origin}">원산지</label></th>
            <td><input type="text" id="origin" th:field="*{origin}" class="form-control" aria-describedby="emailHelp">
            	<small th:if="${#fields.hasErrors('origin')}" th:errors="*{origin}"></small>
            </td>
          </tr>
          <tr>
            <th><label class="forForm" for="supplier" th:text="#{supplier}">생산자</label></th>
            <td><input type="text" id="supplier" th:field="*{supplier}" class="form-control" aria-describedby="emailHelp">
            	<small th:if="${#fields.hasErrors('supplier')}" th:errors="*{supplier}"></small>
            </td>
          </tr>
          <tr>
            <th><label class="forForm" for="unit" th:text="#{unit}">상품용량 </label></th>
            <td><input type="text" id="unit" th:field="*{unit}" class="form-control" aria-describedby="emailHelp" placeholder="상품단위 입력: 예시) 5-6개/1box  10g/1팩">
            	<small th:if="${#fields.hasErrors('unit')}" th:errors="*{unit}"></small>
            </td>
          </tr>
          <tr>
            <th><label class="forForm" for="quantity" th:text="#{quantity}">상품수량 </label></th>
            <td><input type="text" id="quantity" th:field="*{quantity}" class="form-control" aria-describedby="emailHelp" placeholder="상품의 총 재고 입력 '숫자만입력'">
            	<small th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></small>
            </td>
          </tr>
          <tr>
            <th><label class="forForm" for="exampleSelect1" th:text="#{category}">상품분류</label></th>
            <td>
              <select class="form-control" id="category" th:field="*{category}" th:value="#{category}">
                <option th:value="#{category.fruit}"selected>과일</option>
                <option th:value="#{category.vegi}">채소</option>
                <option th:value="#{category.grain}">곡류</option>
              </select>
            </td>
          </tr>
          <tr>
            <th colspan="3">
              <label for="desc" style="display:inline-block;margin-top: 50px;" th:text="#{description}">상품설명</label>&nbsp;&nbsp;&nbsp;
              <small style="text-align:right; display:inline-block;" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></small>            
              <textarea class="form-control" id="description" th:field="*{description}"rows="10" placeholder="상품에 대한 정보를 입력해주세요." onKeyUp="javascript:fnChkByte(this,'4000','tByteInfo')"></textarea>
            	<div class="byte" style="text-align:right;">
			  	<span id="tByteInfo">0</span>/4000Byte
			  </div>	
            	</th>
          </tr>
          <tr>
            <td colspan="3" style="text-align:center;"><button type="submit" class="btn btn-primary" style="margin-top:10px;" onclick="dataSubmit();"><b>등록</b></button></td>
          </tr>

        </table>
      </form>
      
      <!-- 업데이트 폼 -->
      <form th:if="${isUpdate}" enctype="multipart/form-data" th:action="@{/product/update}"  th:object="${productCommand}" method="post">
        <table align="center">
          <tr><!--https://dummyimage.com/500x500/ffffff/000000.png&text=preview+image  -->
            <td rowspan="7" style="padding-right:20px;"> <!-- onchange="prviewImage(this, 'View_area')" th:field="*{productImg}" style="display:none; cursor:pointer;"-->
              <!-- <label for="image_upload" th:text="#{image}" class="forForm">image</label> onchange="fileUpload()" -->
    		  <span id='View_area' style="position:relative; color:black; border:0px solid black;"></span>
    		  <div id="image_container"></div>
    		  <img class="image-upload"style="width:300px; height:300px;" id="image-upload" src="/images/fileUploadImg.png"><br>
    		  <input type ="file" id="image_upload" name="img_upload" onchange="setThumbnail(event);" th:readonly="${isUpdate}">
    		  <!-- <span th:if="${#fields.hasErrors('imgPath')}" th:errors="imgPath"></span>
               --><!-- <i class="far fa-pencil-ruler"></i> -->
            </td>
            <th><label class="forForm" for="prdtName" th:text="#{prdtName}">상품명</label></th>
            <td><input type="text" id="prdtName" th:field="*{prdtName}" class="form-control" style="width:320px;"aria-describedby="emailHelp" placeholder="상품명을 입력하세요.">
            	<small th:if="${#fields.hasErrors('prdtName')}" th:errors="*{prdtName}"></small>
            </td>
          	
          </tr>
          <tr>
            <th><label class="forForm" for="price" th:text="#{price}">가격</label></th>
            <td><input type="text" id="price" th:field="*{price}" class="form-control" aria-describedby="emailHelp" placeholder="숫자만 입력">
            	<small th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></small>
            </td>
          </tr>
          <tr>
            <th><label class="forForm" for="origin" th:text="#{origin}">원산지</label></th>
            <td><input type="text" id="origin" th:field="*{origin}" class="form-control" aria-describedby="emailHelp">
            	<small th:if="${#fields.hasErrors('origin')}" th:errors="*{origin}"></small>
            </td>
          </tr>
          <tr>
            <th><label class="forForm" for="supplier" th:text="#{supplier}">생산자</label></th>
            <td><input type="text" id="supplier" th:field="*{supplier}" class="form-control" aria-describedby="emailHelp">
            	<small th:if="${#fields.hasErrors('supplier')}" th:errors="*{supplier}"></small>
            </td>
          </tr>
          <tr>
            <th><label class="forForm" for="unit" th:text="#{unit}">상품용량 </label></th>
            <td><input type="text" id="unit" th:field="*{unit}" class="form-control" aria-describedby="emailHelp" placeholder="상품단위 입력: 예시) 5-6개/1box  10g/1팩">
            	<small th:if="${#fields.hasErrors('unit')}" th:errors="*{unit}"></small>
            </td>
          </tr>
          <tr>
            <th><label class="forForm" for="quantity" th:text="#{quantity}">상품수량 </label></th>
            <td><input type="text" id="quantity" th:field="*{quantity}" class="form-control" aria-describedby="emailHelp" placeholder="상품의 총 재고 입력 '숫자만입력'">
            	<small th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></small>
            </td>
          </tr>
          <tr>
            <th><label class="forForm" for="exampleSelect1" th:text="#{category}">상품분류</label></th>
            <td>
              <select class="form-control" id="category" th:field="*{category}" th:value="#{category}">
                <option th:value="#{category.fruit}"selected>과일</option>
                <option th:value="#{category.vegi}">채소</option>
                <option th:value="#{category.grain}">곡류</option>
              </select>
            </td>
          </tr>
          <tr>
            <th colspan="3">
              <label for="desc" style="display:inline-block;margin-top: 50px;" th:text="#{description}">상품설명</label>&nbsp;&nbsp;&nbsp;
              <small style="text-align:right; display:inline-block;" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></small>            
              <textarea class="form-control" id="description" th:field="*{description}"rows="10" placeholder="상품에 대한 정보를 입력해주세요."></textarea>
            	<div class="byte" style="text-align:right;">
			  	<span id="tByteInfo">0</span>/4000Byte
			  </div>	
            	</th>
          </tr>
          <tr>
            <td colspan="3" style="text-align:center;"><button type="submit" class="btn btn-primary" style="margin-top:10px;" onclick="dataSubmit();"><b>등록</b></button></td>
          </tr>

        </table>
      </form>
    </div>
    <footer th:replace="fragment/Bottom :: footerFragment"></footer>
</body>
</html>