<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js">
    </script>
<footer th:fragment="footerFragment" style="background-color: #E9ECEF;margin-top:250px;">
	<div style="padding: 30px;">
       <h3>GachiFarm</h3>
       DONGDUK WOMEN'S UNIVERSITY<br>
       2021-1 SWSYSDEVELOP(02)<br> ⓒsd0205_bssg<br>
       (02748) 서울시 성북구 화랑로 13길 60 동덕여자대학교
    </div>
</footer>
</html>