<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" th:lang="ko">
<head>
<meta charset="UTF-8">
<title>가치팜</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-latest.js"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
 	
<style>
h2 {
	font-family: 'NanumSquare', sans-serif;
}
</style>	
</head>

<body>
<th:block th:insert="fragment/Top :: headFragment"></th:block> 
<br><br><br>
<h2 style="text-align:center">회원탈퇴되었습니다.</h2>


<footer th:replace="fragment/Bottom :: footerFragment"></footer>
</body>
</html>