<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>가치팜</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-latest.js"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
<style>
input[type=password] {
	font: small-caption;
  font-size: 16px;
}
body {
	font-family: 'NanumSquare', sans-serif;
}
h3{
	font-family: 'NanumSquare', sans-serif;
}
span {
	color: #FF724A;
}

.ic {
	width: 300px !important;
	height: 54px !important;
}
</style>
</head>
<body>
	<th:block th:insert="fragment/Top :: headFragment"></th:block> 
	<br><br><br>
	 <div align="center">
      <h3>로그인</h3>
    </div>
    
	<form th:action="@{/login}" th:object="${loginCommand}" method="post">
	 <input type="hidden" name="loginForwardAction" th:value="${loginForwardAction}"/>
	 <div align="center">
	 <span th:text="${str}" style="margin: 10px;">mismatch<br><br></span><br>
      <!-- <input type="text" th:field="*{userId}" placeholder="아이디를 입력해주세요"><br> -->
      <input type="text" class="form-control ic" th:field="*{userId}" placeholder="아이디를 입력해주세요" style="margin-bottom: 5px">
      
      <!-- <input type="password" th:field="*{password}" placeholder="비밀번호를 입력해주세요"> -->
      <input type="password" class="form-control ic" id="exampleInputPassword1" th:field="*{password}" placeholder="비밀번호를 입력해주세요">
    </div>

		<br>
		<div align="center">
			<button type="submit" class="btn btn-success ic" style=" background-color: #0AC175; margin-bottom: 5px">로그인</button>
			<!-- <input type="submit" class="loginBtn" value="로그인"><br>  -->
			<br>
			<a href="#" th:href="@{/signup}">
			<button type="button" class="btn btn-outline-success ic">회원가입</button></a>
		</div>
	</form>
	<footer th:replace="fragment/Bottom :: footerFragment"></footer>
</body>
</html>