<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<table class="table table-hover" style="width: 560px">
  <thead>
    <tr>
      <th scope="col">상품</th>
      <th scope="col">공구 마감일</th>
      <th scope="col">공구 배부일</th>
      <th scope="col">상태</th>
    </tr>
  </thead>
  <tbody>
    	<tr th:each="gp : ${groupProducts}">
    		<th> <font style="size:3px" th:text="${gp.product.prdtName}">ProductId</font><br>
    		(<font th:text="${gp.product.description}">description</font>)</th>
		    <td th:text="${gp.period}">START</td>
		    <!-- <td th:text="${gp.recvdate}">END</td> -->
		    <td th:text="${gp.status}">status</td>
	    </tr>
  </tbody>
</table>
</body>
</html>