<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<table class="table table-hover">
  <thead style="text-align:center">
    <tr>
      <th scope="col">상품</th>
      <th scope="col">공구 마감일</th>
      <th scope="col">공구 배부일</th>
      <th scope="col">상태</th>
    </tr>
  </thead>
  <tbody>
    	<tr th:each="gp : ${groupProducts}">
    		<td style="width: 300px; vertical-align: middle;"> <font style="size:3px" th:text="${gp.product.prdtName}">ProductId</font><br>
    		(<font th:text="${gp.product.description}">description</font>)</td>
		    <td style="width: 130px; vertical-align: middle;" th:text="${gp.period}">마감일</td>
		   	<td style="width: 180px; vertical-align: middle;" th:text="${#dates.format(gp.recvDate, 'yyyy-MM-dd HH:mm')}">배부일</td>
		    <td style="width: 100px; vertical-align: middle;" th:text="${gp.status}">status</td>
	    </tr>
  </tbody>
</table>
</body>
</html>