<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
  <div th:if="${#lists.isEmpty(orders)}">
    <p>주문 목록이 보이지 않을 시 새로고침을 해주세요</p>
  </div>
 

<table class="table table-hover" style="width: 560px">
  <thead>
    <tr>
      <th scope="col">주문날짜</th>
      <th scope="col"></th>
      <th scope="col">주문금액</th>
      <th scope="col">배송상태</th>
    </tr>
  </thead>
  <tbody th:unless="${#lists.isEmpty(orders)}">
    <th:block th:each="i : ${#numbers.sequence(0, orders.size()-1)}">
    	<tr>
    		<th th:text="${#dates.format(orders[i].orderDate, 'yyyy-MM-dd')}">OrderDate</th>
		    <td><font th:text="${productNamesArray[i]}">ProductName</font> 외 <font th:text="${countsArray[i]}">Count</font>개</td>
		    <td th:text="${orders[i].totalPrice}">totalPrice</td>      
		    <td th:text="${orders[i].status}">status</td>
	    </tr>
    </th:block>
  </tbody>
</table>

</body>
</html>