<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" th:lang="ko"> 
<head>
<meta charset="utf-8">

<script src="https://code.jquery.com/jquery-latest.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js">
    </script>
<title>가치팜</title>
</head>
<style>
#aid {
	text-decoration: none;
	color:black;
}
</style> 
<body> 
<th:block th:insert="fragment/Top :: headFragment"></th:block> 
<div align="center">
<img style="width: 930px; height:330px; margin:30px; margin-left:70px; border-radius: 7px;" th:src="${random}">
	<table>
		<tr>
			<td>
				<h4 style="margin:15px;margin-left:45px;">BEST</h4>
			</td>
		</tr>
	    <tr>
	        <td th:each="best:${bestProducts}">
		        <ul style=" list-style:none;">
			    	<li><a id="aid" th:href="@{|/product/${best.productId}/1|}"><img style="width: 200px; height:200px;" th:src="${bestImages.get(best.productId)}"></img></a></li>
			        <li>
			        <button th:if="${best.saleType.equals('GROUP')}" style="float:right;width:75px;height:30px;font-size:11px;font-weight:bold;margin-top:5px;" type="button" class="btn btn-outline-danger disabled"
						id="prdtType_group">가치장터</button>
					<button th:if="${best.saleType.equals('STORE')}" style="float:right;width:75px;height:30px;font-size:11px;font-weight:bold;margin-top:5px;" type="button" class="btn btn-outline-success disabled"
						id="prdtType_store">오픈마켓</button>
					<button th:if="${best.saleType.equals('GACHI')}" style="float:right;width:75px;height:30px;font-size:11px;font-weight:bold;margin-top:5px;" type="button" class="btn btn-outline-warning disabled"
						id="prdtType_gachi">가치only</button>
			        </li>
			        <li><a id="aid" th:href="@{|/product/${best.productId}/1|}"><span style="font-size:20px;" th:text="${best.prdtName}"></span></a></li>
			 		<li><span th:text="|${#numbers.formatInteger(T(Math).ceil(best.price), 3,'COMMA')}원|"></span></li>
		        </ul>
	        </td>
	    </tr>
	   <tr>
			<td>
				<h4 style="margin:15px;margin-left:45px;">NEW</h4>
			</td>
		</tr>
	    <tr>
	        <td th:each="n:${nProducts}">
		        <ul style=" list-style:none;">
			    	<li><a id="aid" th:href="@{|/product/${n.productId}/1|}"><img style="width: 200px; height:200px;" th:src="${nImages.get(n.productId)}"></img></a></li>
			        <li>
			        <button th:if="${n.saleType.equals('GROUP')}" style="float:right;width:75px;height:30px;font-size:11px;font-weight:bold;margin-top:5px;pointer-events: none;" type="button" class="btn btn-outline-danger disabled"
						id="prdtType_group">가치장터</button>
					<button th:if="${n.saleType.equals('STORE')}" style="float:right;width:75px;height:30px;font-size:11px;font-weight:bold;margin-top:5px;pointer-events: none;" type="button" class="btn btn-outline-success disabled"
						id="prdtType_store">오픈마켓</button>
					<button th:if="${n.saleType.equals('GACHI')}" style="float:right;width:75px;height:30px;font-size:11px;font-weight:bold;margin-top:5px;pointer-events: none;" type="button" class="btn btn-outline-warning disabled"
						id="prdtType_gachi">가치only</button>
			        </li>
			        <li><a id="aid" th:href="@{|/product/${n.productId}/1|}"><span style="font-size:20px;" th:text="${n.prdtName}"></span></a></li>
			 		<li><span th:text="|${#numbers.formatInteger(T(Math).ceil(n.price), 3,'COMMA')}원|"></span></li>
		        </ul>
	        </td>
	    </tr>
	</table>
</div>
<footer th:replace="fragment/Bottom :: footerFragment"></footer> 
</body> 
</html>