<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Product Form</title>
  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js">
  </script>
  <style>
    @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

    .nanumsquare {
        font-family: 'NanumSquare', sans-serif !important;
    }
    .nanumgothic * {
     font-family: 'Nanum Gothic', sans-serif;
    }
    body {
      /*font-family: 'Nanum Gothic', sans-serif; */
      /* 폰트관련 주석! */
      /* font-family: 'NanumSquare', sans-serif !important; */
    }
    .btn-primary {
      /* 폰트관련 주석! */
      /* font-family: 'NanumSquare', sans-serif !important; */

      color: #fff;
      background-color: #0AC175;
      border-color: #0AC175;
    }
    label{
      color: #707070;
    }
    th{
      font-size:16px;
    }
    .form-control {
      color: #DDDDDD;
    }
  </style>
</head>
<body>
	<div align="center" style="margin-top: 100px;">
      <h3> 상품정보 수정 </h3>
      <hr style="height:1px; background-color:#707070;">

      <form th:action="@{/product/update}"  th:object="${productCommand}" method="post">
        <table align="center">
          <tr>
            <td rowspan="7" style="padding:30px;"> <!-- onchange="prviewImage(this, 'View_area')" th:field="*{productImg}" style="display:none; cursor:pointer;"-->
              <!-- <input type ="file" id="image_upload" name="img_upload" onchange="fileUpload()"> -->
    		  <span id='View_area' style="position:relative; color:black; border:0px solid black;"></span>
    		  <img class="image-upload"style="width: 500px;" id="image-upload" th:src="${link}">
    		  <!-- <label style="color:red;"for="image_upload" th:text="#{imageNoEditable}" class="forForm">image</label><br> -->
    		  <br>
    		  <span id='View_area' style="position:relative; color:red; border:0px solid black;" th:text="#{imageNoEditable}"></span>
              <input type="hidden" id="up_prdtId" name="up_prdtId" th:value="${upPrdtId}">
              <span id='View_area' style="position:relative; color:red; border:0px solid black;" th:text="${upPrdtId}"></span>
              
              <!-- <i class="far fa-pencil-ruler"></i> -->
            </td>
            <th><label class="forForm" for="prdtName" th:text="#{prdtName}">상품명</label></th>
            <td><input type="text" id="prdtName" th:field="*{prdtName}" class="form-control" style="width:320px;"aria-describedby="emailHelp" placeholder="상품명을 입력하세요."></td>
          </tr>
          <tr>
            <th><label class="forForm" for="price" th:text="#{price}">가격</label></th>
            <td><input type="text" id="price" th:field="*{price}" class="form-control" aria-describedby="emailHelp"></td>
          </tr>
          <tr>
            <th><label class="forForm" for="origin" th:text="#{origin}">원산지</label></th>
            <td><input type="text" id="origin" th:field="*{origin}" class="form-control" aria-describedby="emailHelp"></td>
          </tr>
          <tr>
            <th><label class="forForm" for="supplier" th:text="#{supplier}">생산자</label></th>
            <td><input type="text" id="supplier" th:field="*{supplier}" class="form-control" aria-describedby="emailHelp"></td>
          </tr>
          <tr>
            <th><label class="forForm" for="unit" th:text="#{unit}">상품용량 </label></th>
            <td><input type="text" id="unit" th:field="*{unit}" class="form-control" aria-describedby="emailHelp" placeholder="상품의 단위를 입력해주세요. ex) kg, g.."></td>
          </tr>
          <tr>
            <th><label class="forForm" for="quantity" th:text="#{quantity}">상품수량 </label></th>
            <td><input type="text" id="quantity" th:field="*{quantity}" class="form-control" aria-describedby="emailHelp" placeholder="상품재고량을 입력해주세요. ex) kg, g.."></td>
          </tr>
          <tr>
            <th><label class="forForm" for="exampleSelect1" th:text="#{category}">상품분류</label></th>
            <td>
              <select class="form-control" id="category" th:field="*{category}" th:value="*{category}">
                <option th:value="#{category.fruit}"selected>과일</option>
                <option th:value="#{category.vegi}">채소</option>
                <option th:value="#{category.grain}">곡류</option>
              </select>
            </td>
          </tr>
          <tr>
            <th colspan="3">
              <label for="desc" style="margin-top: 50px;" th:text="#{description}">상품설명</label>
              <textarea class="form-control" id="description" th:field="*{description}"rows="20" placeholder="상품에 대한 정보를 입력해주세요."></textarea>
            </th>
          </tr>
          <tr>
            <td colspan="3" align="center"><button type="submit" class="btn btn-primary" style="margin-top:30px;" onclick="dataSubmit();">등록</button></td>
          </tr>

        </table>
      </form>
    </div>
</body>
</html>